<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <link rel="stylesheet" href="userCss/login.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="card_title">
            <h1>login</h1>
            
          </div>
          <div class="form">
          <form action="/loginpost" method="post">
            <input type="text" name="email" id="username" placeholder="email" />
            <input type="password" name="password" placeholder="Email" id="email" />
            <!-- <input type="password" name="confirmpassword" placeholder="confirmpassword" id="password" /> -->
            <button>Login</button>
            </form>
          </div>
          <%if(error){ %>
            <p class="error"><%=error%></>

            <% } %>
          <span style="margin-top: 80px;"><a href="/signup">Signup</a></span>
          
        </div>
      </div>
</div>
</body>
</html>