<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/public/userCss/signup.css"> -->
    <link rel="stylesheet" href="userCss/signup.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="card_title">
            <h1>Create Account</h1>
            
          </div>
          <div class="form">
          <form action="/" method="post">
     
            <label for="" >Name:</label>
            <input type="text" name="name"  placeholder="Enter your name" />


            <label for="" class="labemail">Email:</label>
            <input type="text" name="email" id="email" placeholder="email" />

            <label for="" class="labpassword">password:</label>
            <input type="password" name="password" placeholder="password" id="password" />

            <label for="" class="labcon">confirmpassword:</label>
            <input type="password" name="confirmpassword" placeholder="confirmpassword" id="confirmpassword" />

            <button>Sign Up</button>
            </form>
          </div>
          <%if(error){ %>
            <p class="error"><%=error%></>

            <% } %>
          <p style="color: black;">Already have an account?</p><a href="/login">Sign In</a>
          
        </div>

      </div>
</div>
</body>
<script src="validationjs/signupValidation.js"></script>
</html>

